﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutMyExplore.cshtml";
}

<h2>Register</h2>
    <!-- Login Wrap  -->
    <div class="login-wrap">
        <img src=""~/Content/Explore/images//logo.png" class="login-img" alt="logo" /><br />
        <div class="register-c1">
            <div class="cpadding50">
                <input type="text" class="form-control logpadding" placeholder="Username">
                <br />
                <input type="text" class="form-control logpadding" placeholder="Password">
                <br />
                <input type="text" class="form-control logpadding" placeholder="Confirm Password">
                <br />
                <select class="form-control lokdatum-prov" name="info.RoleIdentity" id="role-identity">
                    <option value="0">- Pilih -</option>
                    <option value="1">Personal</option>
                    <option value="2">Community</option>
                    <option value="3">Travel Lover</option>
                </select>
            </div>
        </div>
        <div class="register-c2">
            <div class="logmargfix">
                <div class="chpadding50">
                    <div class="alignbottom">
                        <button class="btn-search4" type="submit" onclick="errorMessage()">Register</button>
                    </div>
                    <div class="alignbottom2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Remember
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="register-c3">
            <div class="left"><a href="@Url.Action("Home")" class="whitelink"><span></span>Back To Home</a></div>
            <div class="right"><a href="@Url.Action("Login")" class="whitelink">Login</a></div>
        </div>
    </div>
    <!-- End of Login Wrap  -->

</div>
<!-- End of Container  -->
<!-- Javascript  -->
<script src="~/Content/Explore/assets/js/initialize-loginpage.js"></script>
<script src="~/Content/Explore/assets/js/jquery.easing.js"></script>
<!-- Load Animo -->
<script src="plugins/animo/animo.js"></script>
<script>
    function errorMessage() {
        $('.login-wrap').animo({ animation: 'tada' });
    }
</script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/Content/Explore//js/bootstrap.min.js"></script>

